.prodDetContainer {
    color: white;
    display: flex;
    gap: 2rem;
    margin: 30px;
    background-color: rgb(37, 37, 36);
    box-shadow: 0 0 20px 0 rgb(255, 255, 255, 3);
    border-radius: 1rem;
}

/* IMAGEN */
.prodDetImagenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: 15px;
}
.prodDetImagen {
    max-width: 98%;
}

/* DETALLES */
.prodDetDetallesContainer {
    padding-top: 30px;
}
.prodDetTitulo {
    font-size: 2rem;
}
.prodDetTexto {
    padding-top: 10px;
    font-size: 1.1rem;
}
.moverComponente {
    padding-bottom: 10px;
}

/* BOTONES */
.prodDetBoton {
    margin-right: 20px;
    padding: 5px;
    margin-top: 20px;
    transition: all .3s ease;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #0074C7;
}

.prodDetBoton:hover {
    transform: scale((1.1));
    box-shadow: 5px 5px rgb(0, 0, 0, 0.5);
}

.volver:hover {
    color: #0074C7;
    background-color: white;
}

.seguir:hover {
    color: white;
    background-color: rgb(52, 214, 79);
}