/* PRODUCTO CONTAINER */
.productoCard {
    width: 250px;
	margin: 30px;
	border-radius: 6px;
	overflow: hidden;
	background: rgb(37, 37, 37);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	display: flex;
	flex-direction: column;
}
.productoCard:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.productoCard .datosProducto{
	text-align: center;
}
/* IMAGEN DEL PRODUCTO */
.productoCard img{
	width: inherit;
	height: inherit;
}
/* TEXTO DEL PRODUCTO */
.datosProducto {
	padding: 10px;
}
.productoCard .datosProducto h3{
	color: white;
	width: inherit;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	max-height: 23px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.productoCard .datosProducto p{
	line-height: 1.8;
	color: white;
	font-size: 1rem;
    padding: 5px;
	max-height: 57px;
	text-overflow: ellipsis;
}
.linea {
	border-bottom: grey 2px solid;
}

/* BOTON DE VER PRODUCTO */
.comprar {
	text-align: center;
	color: #2fb4cc;
	transition: all 400ms ease;
    padding: 15px;
    cursor: pointer;
	max-height: 24px;
}

.botonComprar {
	text-decoration: none;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	color: #2fb4cc;
	font-size: 1.2rem;
}

.comprar:hover{
    background: #2fb4cc;
	color: #fff;
	transition: all .3s ease;
}
.comprar:hover > .botonComprar {
	color: #fff;
}